@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 20px);
  }
}

/* Hide scrollbar for BottomSheet */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
